.content .agent_control_select
{
    margin-top: 20px;
}

.fblock_fm,
.fbtn_submit {
    width: 300px;
    float: left;
    margin-right: 24px;
}

.fbtn_submit input {
    width: 100%;
}

.fblock_cl,
.fbtn_cancel {
    width: 300px;
    float: left;
}

.list_page_rows.agents_list
{
    margin-left: 0;
    margin-right: 0;
}

.cancel_filter:link,
.cancel_filter:active,
.cancel_filter:visited {
    background: #47a1f0;
    padding: 14px;
    height: 56px;
    border: none;
    box-sizing: border-box;
    display: block;
    color: #FFF !important;
    text-align: center;
    line-height: 28px;
    text-decoration: none;
}
.cancel_filter:hover {
    background: #309cfa;
    text-decoration: none;
    padding: 14px;
    height: 56px;
    border: none;
    box-sizing: border-box;
    display: block;
    color: #FFF !important;
    text-align: center;
    line-height: 28px;
}

@media screen and (max-width: 1160px)
{
    .cancel_filter:link,
    .cancel_filter:active,
    .cancel_filter:visited,
    .cancel_filter:hover {
        padding: 10px;
        width: 300px;
        height: 50px;
    }
}

@media screen and (max-width: 350px)
{
    .fbtn_submit,
    .fbtn_cancel{
        width: 280px;
    }

    .cancel_filter:link,
    .cancel_filter:active,
    .cancel_filter:visited,
    .cancel_filter:hover {
        width: 100%;
    }
}