form.client_select .wrap-select,
form.client_select .wrap-btn {
    float: left;
    padding-right: 20px;
}

form.client_select .wrap-select select,
form.client_select .wrap-btn input {
    width: 300px;
}

.select2
{
    width: 300px !important;
}

@media screen and (max-width: 699px)
{
    form.client_select .wrap-select,
    form.client_select .wrap-btn {
        float: none;
    }
}

@media screen and (max-width: 350px)
{
    form.client_select .wrap-btn input
    {
        width: 280px;
    }

    .select2
    {
        width: 280px !important;
    }
}