#deals_filter .wrap-select,
#deals_filter .wrap-btn {
    float: left;
    padding-right: 20px;
}

#deals_filter .wrap-select select,
#deals_filter .wrap-btn input {
    width: 300px;
}

@media screen and (max-width: 1239px)
{
    #deals_filter .wrap-select:nth-child(3n)
    {
        padding-top: 25px;
    }
}