.list_page_rows.warehouses .line_area.yes .line_inner,
.list_page_rows.warehouses .line_area.yes .line_inner:hover {
    padding-left: 0;
    border-left: 10px solid #7ed321;
}
.list_page_rows.warehouses .line_area.no .line_inner,
.list_page_rows.warehouses .line_area.no .line_inner:hover {
    padding-left: 0;
    border-left: 10px solid #2b323d;
}
.list_page_rows.warehouses .line_area .line_inner .name {
    padding-left: 20px !important;
}
.transport {
    padding: 40px 30px 0 30px;
    margin: 0;
    position: relative;
}
.ch_all_tr {
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 20px;
    border-bottom: 1px dashed transparent;
}
.ch_all_tr:hover, .no_tr:hover {
    text-decoration: none;
    border-bottom: 1px dashed #478bb7;
}
.content form.line_additional .row.error .row_err {
    display: block;
    position: absolute;
    top: 82px;
    left: 445px;
}

.content form .row.map
{
    margin-top: 0;
}