.list_page_rows.warehouses .line_area.yes .line_inner,
.list_page_rows.warehouses .line_area.yes .line_inner:hover {
    padding-left: 0;
    border-left: 10px solid #7ed321;
}
.list_page_rows.warehouses .line_area.no .line_inner,
.list_page_rows.warehouses .line_area.no .line_inner:hover {
    padding-left: 0;
    border-left: 10px solid #2b323d;
}
.list_page_rows.warehouses .line_area .line_inner .name {
    padding-left: 20px !important;
}
.transport {
    padding: 40px 30px 0 30px;
    margin: 0;
    position: relative;
}
.ch_all_tr {
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 20px;
    border-bottom: 1px dashed transparent;
}
.ch_all_tr:hover, .no_tr:hover {
    text-decoration: none;
    border-bottom: 1px dashed #478bb7;
}
.content form.line_additional .row.error .row_err {
    display: block;
    position: absolute;
    top: 82px;
    left: 445px;
}

.content form.select_item .row.fblock_fm
{
    float: left;
}

.content form select[name="select_farmer"]{
    width: 300px;
}

.fblock_cl,
.fbtn_submit {
    width: 300px;
    float: left;
    margin-right: 24px;
}

.fblock_wh,
.fbtn_cancel {
    width: 300px;
    float: left;
}

.fbtn_submit input {
    width: 100%;
}

.cancel_filter:link,
.cancel_filter:active,
.cancel_filter:visited
{
    background: #47a1f0;
    padding: 14px;
    height: 56px;
    border: none;
    box-sizing: border-box;
    display: block;
    color: #FFF !important;
    text-align: center;
    line-height: 28px;
    text-decoration: none;
}

.cancel_filter:hover
{
    background: #309cfa;
    text-decoration: none;
    padding: 14px;
    height: 56px;
    border: none;
    box-sizing: border-box;
    display: block;
    color: #FFF !important;
    text-align: center;
    line-height: 28px;
}

.select_item
{
    display: block;
    margin-top: 20px;
}

.users_checkboxes .radio_area input[type="checkbox"]
{
    margin-top: 10px;
}

.users_checkboxes .radio_area .custom_input
{
    position: relative;
    top: 10px;
}

.users_checkboxes .radio_area .custom_input .ico
{
    top: 3px;
}

.list_page_rows .farmer_name
{
    padding-top: 10px;
    font-weight: normal;
}

@media screen and (max-width: 1160px)
{
    .cancel_filter:link,
    .cancel_filter:active,
    .cancel_filter:visited,
    .cancel_filter:hover
    {
        padding: 10px;
        width: 300px;
        height: 50px;
    }
}